 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(bew.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav{
    height: 18%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.container .logo::first-letter{
    color: orangered;
    font-size: 35px;
}

.container nav ul li{
    display: inline-block;
    padding: 0 15px;
    padding-left: 13px;
}

.container nav ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color: red;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}
.content .section-1{
    position: relative;
    width: 40%;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.content .section-1 h3{
    font-size: 24px;
    color: orangered;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 15px;
    color: black;
    margin-bottom: 50px;
}

.content .button{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid orangered;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.content .button:hover{
    background-color: orangered;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.content .section-2{
    width: 75%;
    position: relative;
}

.content .section-2::after{
    content: '';
    position: absolute;
    background-color: orangered;
    border-radius: 50%;
    width: 380px;
    height: 363px;
    z-index: -1;
    top: 25%;
    left: 22%;
}

.content .section-2 img{
    width: 82%;
}

.content .social{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}

.content .social a i{
    font-size: 25px;
    color: rgb(9, 24, 15);
    transition: 0.2s;
}


.content .social i:hover{
    color: orangered;
}


